*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(247, 246, 239);
    font-family:cursive;   
}
p{
    color: rgba(149, 151, 151, 0.356);
}
hr{
    margin: 5px 0;
    border: .3px solid orangered ;
}
.sections{
    height: 100%;
    width: 100%;
    padding: 4% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px dotted orangered;
    
}

.sections h1{
    color: rgb(247, 63, 7);
    margin-bottom: 15px;
    text-align: center;
}
.sections h5{
    color: rgb(247, 63, 7);
    margin: 15px 0;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;

}
.sections .container-front{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sections .container-front img{
   border-radius: 100%;
   height: 260px;
   object-fit: cover;
   
   
}



.sections .container-projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sections .container-projects div{
    height: 260px;
    position: relative;
    padding: 29px;
    border-radius: 5px;
    background-color: rgba(184, 156, 30, 0.178);
}
.sections .container-projects div:hover{
    
    background-color: rgba(184, 156, 30, 0.377);
}

.sections .container-work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sections .container-work .row{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sections .container-work .row div{
    height: 200px;
    padding: 10px;
    width: 200px;
    background-color: rgba(184, 155, 30, 0.082);
    border-radius: 5px;
}

.sections .container-work .row div:hover{
   
    background-color: rgba(184, 156, 30, 0.24);
}


.page-4{
    height: 200px;
}